<!DOCTYPE html>
<html lang="pt">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Desafio Geoambiente</title>
        <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
        <link rel="icon" href="~/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @RenderSection("stylesheets", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @Html.Partial("_Header")
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
